<%=turbo_frame_tag dom_id(catalog), class: 'navbar-menu'  do %>

    <div class="column is-four-fifths">
    <%= link_to catalog.path, catalogs_path(current_path: catalog.path), target: '_top' , class: 'navbar-item'%>
    </div>
    <div class="column"><%= link_to 'Edit', edit_catalog_path(catalog), class: 'navbar-item' %></div>
    <div class="column"><%= button_to 'Delete', catalog_path(catalog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-inverted' %></div>
<% end %>
