 <%= turbo_frame_tag frame_id do %>
  <%= form_with model: catalog do |form| %>
    <div class="columns is-mobile">
      <div class="column is-two-thirds">
        <%= form.text_field :path, value: current_path, class: 'input'%>
        <span class='is-size-7' data-tooltip="Введите полный путь классификатора, разделяя уровни точкой"><sup>*</sup>Введите полное название ветки классификатора </span>
      </div>
      <div class="column">
        <%= form.submit class: 'button is-success is-outlined' %>
      </div>
    </div>
  <% end %>
<% end %>
