<h1>Cataloges#new</h1>
<%= turbo_frame_tag 'new' do %>
  <%= form_with(model: @catalog,
                data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' }) do |form| %>
    <div class="columns">
      <div class="column is-half">
        <%= form.text_field :path, value: @current_path, class: 'input', placeholder: 'Введите элемент каталога в формате Item.Item' %>
      </div>
      <div class="column">
        <%= form.submit 'Создать', class: 'button  is-success is-outlined' %>
      </div>
    </div>
  <% end %>
<% end %>
